{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "client/tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "react"],
  "rules": {
    "react/prop-types": "off",
    "import/no-unresolved": "off",
    "import/prefer-defualt-export": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "ignorePatterns": ["webpack.*"]
}
