@import './common.scss';

@mixin button-color($color) {
  background: $color;
  &:hover {
    background: lighten($color, 10%);
  }
  &:active {
    background: darken($color, 10%);
  }
}

.Button {
  display: inline-block;
  background-color: $COMMON_BACKGROUND;
  color: #282424;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 5px;
  font-size: 13px;

  &.btn-large {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 5px;
    font-size: 1.3rem;
  }

  &.btn-beige {
    border: 1px solid $COSTOM_BLUE;
    color: $COSTOM_BLUE;
  }
  &.btn-gray {
    @include button-color(gray);
    color: $BEIGE;
  }
  &.btn-costom-blue {
    @include button-color($COSTOM_BLUE);
    border: 2px solid $COSTOM_BLUE;
    color: $BEIGE;
  }
  &.btn-outline {
    border: 1px solid gray;
  }
}
