@import './common.scss';

body {
  margin: 0px;
  max-width: 1200px;
  margin: auto;
  background-color: $COMMON_BACKGROUND;
  text-decoration: none;
  font-family: $NEXON_FONT;
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }
}

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
