@import './common/common.scss';

.box {
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
  &.flex {
    display: table;
  }
}

.top {
  display: inline-block;
  color: #282424;
  margin-right: 30px;
  font-size: 30px;
}

.top50table {
  margin: auto;
  table {
    border-top: 1px solid $HORIZON_GRAY;
  }
  th,
  td {
    border-bottom: 1px solid $HORIZON_GRAY;
    padding: 10px;
  }
  .song-info {
    width: 750px;
  }
  .genre {
    text-align: left;
    width: 15%;
  }
  .hearts {
    text-align: left;
    width: 20%;
  }
  .large-font {
    font-size: 16px;
  }
  .song-title {
    font-size: 20px;
  }
  .song-artist {
    color: $GRAY;
  }
  .song-checkbox {
    float: right;
    accent-color: $COSTOM_BLUE;
  }
}
